* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.card {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 30vh;
    font-size: 150px;
    animation: ball linear 2s infinite;
}

@keyframes ball {
    0%{
        transform: translateY(0px);
    }50%{
        transform: translateY(-250px);
    }100%{
        transform: translateY(0px);
    }
}

.card1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
    animation: wheel linear 3s infinite;
}

@keyframes wheel {
    0%{
        transform: rotate(0px);
    }100%{
        transform: rotate(360deg);
    }
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.container {
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.card2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
    animation: base linear 3s infinite;

}

@keyframes base {
    0%{
        transform: translateX(400px);
    }50%{
        transform: translateX(10px);
    }100%{
        transform: translateX(400px);
    }
}

.div {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.card3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
    animation: bases linear 3s infinite;

}

@keyframes bases {
    0%{
        transform: translateX(-400px);
    }50%{
        transform: translateX(-10px);
    }100%{
        transform: translateX(-400px);
    }
}