* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.form {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    display: flex;
}

.form form {
    background-color: bisque;
    padding: 30px;
    border-radius: 12px;
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 10px;
}

.form form input {
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    border: 2px solid transparent;
    transition: 0.5s;
}

.form form button {
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: blue;
    color: white;
    padding: 10px;
    transition: 0.4s;
}

.btn:focus {
    background-color: rebeccapurple;
}

.email:active {
    border: ;
}

.form form input:focus {
    border: 2px solid blue;
}

.form form input:invalid {
    border: 2px solid red;
}

.card {
    width: 400px;
    background-color: antiquewhite;
    padding: 10px;
    letter-spacing: 1px;
    box-shadow: 0px 0px 10px grey;
    border-radius: 12px;
    align-items: center;
    text-align: center;
    transition: 0.5s;
    height: 580px;
}

.card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
}

.card h1 {
    font-size: 50px;
    font-weight: 400;
    font-family: cursive;
    color: maroon;
    margin-bottom: 10px;
}

.card p {
    font-size: 24px;
    color: brown;
    font-family: cursive;
    margin-bottom: 10px;
}

.card button {
    width: 100%;
    padding: 15px;
    background-color: greenyellow;
    color: red;
    border-radius: 12px;
    font-size: 25px;
    transition: 0.4s;
}

.card button:hover {
    background-color: aqua;
}

.card:hover {
    background-color: mediumorchid;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.shrink {
    flex-grow: 1;
    height: 710px;
}

.card:nth-child(even) {
    background-color: blueviolet;
}

.card:nth-child(odd) {
    background-color: blue;
}