* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.logo {
    margin-left: 50px;
}

.d1 {
display: flex;
gap: 20px;
margin-top: 15px;
margin-left: 400px;
color: white;
}

#header {
    display: flex;
    padding-left: 50px;
    background-color: black;
}

.d2 {
    margin-left: 500px;
}

.h2 {
    color: #64CCC5;
    margin-top: 80px;
}

.card1 {
    color: white;
    background-color: black;
    width: 422px;
    height: 368px;
    border-radius: 20px;
    padding: 45px;
}

.card2 {
    width: 422px;
    height: 368px;
    border-radius: 20px;
    background-color: #F4F4F4;
    padding: 45px;
}

.h1 {
    color: black;

}

.card {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 70px;
}

.ports {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 70px;

}