* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

#body {
 background-color: rgb(16, 16, 80);
}

.container {
    width: 1530px;
    margin-right: auto;
    margin-left: auto;
}

#header {
   
    padding: 20px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.links {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-left: 780px;
}

.btn {
    margin-right: 100px;
}

#section {
    padding: 20px;
    background-image: url("./gaming.png");
    background-repeat: no-repeat;
    background-position: 12cm;
    
}

.card {
    width: 527px;
    height: 512px;
    margin-top: 100px;
    margin-left: 180px;
    line-height: 25px;
    letter-spacing: 1px;
}

.card h3{
    margin-bottom: 20px;
    color: #E87D0E;
    
}

.card img {
    margin-bottom:  80px;
}

.card p {
    color: rgb(224, 213, 213);
}

.card h1 {
    line-height: 35px;
    letter-spacing: 1px;
    color: white;
}

.cards {
    display: flex;
}

.cardd {
    margin-top: 80px;
    margin-left: 290px;
    color: white;
}

.img{
    margin-left: 100px;
    margin-top: -50px;
}

.imgg {
    margin-top: 20px;
    margin-left: 500px;
}

.png {
    margin-left: 350px;
}