.image {
    background-image: url("./image.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

.h1 {
    font-size: 60px;
    color: aqua;
    font-weight: bold;
}

.card {
    background-color: aqua;
    width: 400px;
    border-radius: 20px;
    border: solid aqua 20px;
    display: inline-block;
    
}

.card img {
    width: 400px;
   border-radius: 20px;
}